@import url('https://fonts.googleapis.com/css?family=Cuprum|Rubik');
body
{
	background-color: #F2F2F2;
	font-family: "Rubik";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling: touch;

	margin-top:70px;


}

h1,h2,h3,h4,h5,h6
{
	font-family: "Cuprum";
	font-weight: 300;
	color:#333;
}
p
{
	line-height: 28px;
	margin-bottom: 25px;
}
a
{
	font-family: "Rubik";
	color: #c73232;
}
a:hover,a:focus
{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

hr
{
	display: block;
	height: 1px;
	border: 0px;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.navbar
{
	font-weight: 800;
    font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-inverse
{
	background-color:rgba(6,154,147,0.5);
	border-color: #069a93;
}



.navbar-inverse .navbar-brand
{
	color: white;;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;

}
#myNavbar a:hover,a:focus
{
    color: #c73232;
}
#myNavbar
{
    padding-left: 35%;
}
#myNavbar a
{
    color: white;
}
#nav_phones
{
    color: white;
    padding-left: 80%;
}

#headerwrap
{
	position: relative;
	background: url(../computer-repair.jpg) no-repeat center top;
	margin-top: -100px;
	padding-top: -20px;
	padding-bottom: 400px;
	text-align: center;
	background-position: center;
	background-attachment: relative;
	min-height: 500px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;


}
#headerimg
{
	margin-top: 150px;
}
#headerwrap h1
{
	margin-top: 20px;
	color: white;
	text-shadow: black,0,0,5pt;
	text-indent: 1.5em;
	font-weight: 600;

}

.w
{
	padding-top: 10px;
}
h3
{
	font-size: 40px;
}
h4
{
	font-size: 18px;
}
#second_row
{
	padding-top: 50px;
}
span
{
	float: right;
	color:#c73232;
	font-weight: 300;
	font-size: 25px;
}
.s
{
	background:#069A93;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0.9;
}
.s h4
{
	color: white;
	text-align: center;
}
.col-lg-2:hover, .col-lg-2:focus
{
	background:#C73232;
}
.text_middle h2
{
    font-size: 45px;
}

.description1
{
    font-family: "Cuprum";
	font-weight: 300;
	color:#333;
    font-size: 18px;
    padding-left: 50%;
    padding-right: 0%;
    padding-top: 20px;
}
.description2
{
    font-family: "Cuprum";
	font-weight: 300;
	color:#333;
    font-size: 18px;
    padding-left: 0%;
    padding-right: 50%;
    padding-top: 20px;
}

.price_head
{
    padding-top: 30px;
}
.buttonprice:hover, .buttonprice:focus
{
background: none;
}
.tables h4
{
    font-size: 26px;
    color: #c73232;
}
.tables
{
    padding-top: 30px;
}
.name_table
{
    width: 70%;
}
.price_table
{
   text-align: right;
    color: #069A93;
}

